.container-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.header {
  padding-top: 35px;

  &__logo {
    max-width: 155px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 52px;
    color: #58A9A5;
    padding-left: 50px;
    background: url('../../assets/img/Group 1.png') no-repeat left center;
    //margin-right: 100px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 20px;
  }

  &__list-item {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
  }

  &__link {
    color: #404242;
    display: inline-block;
    white-space: nowrap;

    &:after {
      display: block;
      margin: 0 auto;
      content: '';
      width: 0;
      height: 6px;
      background: #FEC62D;
      border-radius: 21px;
      transition: 0.2s all;
    }

    &:hover, :active {
      color: #58A9A5;

      &:after {
        width: 60%;
      }
    }
  }

  &__button {
    flex: 0 0 auto;
    color: #fff;
    padding: 21px 88px;
    background: #58A9A5;
    border-radius: 15px;
    cursor: pointer;
    opacity: .85;
    transition: 0.2s all;

    &:hover {
      opacity: 1;
    }

    &_link {
      color: #fff;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 25px;
      line-height: 38px;
    }
  }

  &__burger {
    position: relative;
    width: 70px;
    height: 40px;
    display: none;
    cursor: pointer;
  }

  &__burger-line {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background: #58A9A5;

    &:last-child {
      top: 50%;
    }

    &:first-child {
      top: 100%
    }
  }
}


@media screen and (max-width: 960px) {
  .header {
    &__nav {
      display: none;
    }
    &__button{
      display: none;
    }

    &__burger {
      display: block;
    }
  }
}

