<section class="header">
  <div class="container">
    <div class="container-inner">
      <div class="header__logo">
        Locus
      </div>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__list-item">
            <a routerLink="/" class="header__link">Home</a>
          </li>
          <li class="header__list-item">
            <a href="" class="header__link">Contact</a>
          </li>
          <li class="header__list-item">
            <a href="" class="header__link">Location</a>
          </li>
          <li class="header__list-item">
            <a href="" class="header__link">About Us</a>
          </li>
        </ul>
      </nav>
      <div class="header__button">
        <a href="" class="header__button_link">Sign Up</a>
      </div>
      <div class="header__burger" (click)="openMenu()">
        <span class="header__burger-line"></span>
        <span class="header__burger-line"></span>
        <span class="header__burger-line"></span>
      </div>
    </div>
  </div>
</section>


<div class="hide-menu" [class.hide-menu__active]="isActive">
  <ul class="hide-menu__list">
    <li class="hide-menu__list-item">
      <a routerLink="/" class="hide-menu__link">Home</a>
    </li>
    <li class="hide-menu__list-item">
      <a href="" class="hide-menu__link">Contact</a>
    </li>
    <li class="hide-menu__list-item">
      <a href="" class="hide-menu__link">Location</a>
    </li>
    <li class="hide-menu__list-item">
      <a href="" class="hide-menu__link">About Us</a>
    </li>
  </ul>
  <div class="hide-menu__close" (click)="closeMenu()">
    <span class="hide-menu__close-line"></span>
    <span class="hide-menu__close-line"></span>
  </div>
</div>
