<section class="footer">
  <div class="container">
    <div class="container-inner">
      <div class="footer__offer">
        <h2 class="footer__offer-title">Contact Us</h2>
        <p class="footer__offer-text">Have any questions? Want help
          before getting started?</p>
        <div class="footer__offer-img"><img src="assets/img/Group 3.png" alt=""></div>
      </div>
      <form class="footer__form">
        <div class="footer__form-container">
          <input class="footer__form-input" placeholder="Full name" name="userName">
        </div>
        <div class="footer__form-container footer__form-email">
          <input class="footer__form-input " placeholder="Email address" name="email">
        </div>
        <div class="footer__form-desc">Description</div>
        <button type="submit" class="footer__form-button">Send now</button>
      </form>
    </div>
  </div>
</section>
