.container-inner {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
}

.footer {
  margin-bottom: 50px;

  &__offer {
    display: flex;
    flex-direction: column;
    width: 450px;
  }

  &__offer-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 105px;

    color: #1C2323;
  }

  &__offer-text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;

    margin-bottom: 37px;

    color: #486958;
  }


  &__form {
    display: flex;
    gap: 20px;
    flex: 1 0 655px;
    flex-direction: column;
    max-width: 100%;
    justify-content: space-around;
    border: 2px solid #486958;
    box-shadow: 0 0 2px 0 #486958;
    border-radius: 1%;
    padding: 57px;
    padding-bottom: 35px;
  }


  &__form-input {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;

    color: #486958;
    padding: 25px 0;
    width: 100%;
    border-bottom: 1px solid #000000;

    &::placeholder {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 25px;
      line-height: 38px;

      color: #486958;
    }
  }

  &__form-desc {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    color: #486958;
  }

  &__form-button {
    align-self: flex-end;


    background: #58A9A5;
    border-radius: 20px 20px 20px 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    padding: 20px 25px;
    color: #FFFFFF;

    cursor: pointer;
    opacity: .85;
    transition: 0.2s all;

    &:hover {
      opacity: 1;
    }

  }
}

@media screen and (max-width: 720px) {
  .footer {
    &__offer-title {
      font-size: 50px;
    }

    &__form {
      padding: 35px;
    }

    &__form-button {
      align-self: flex-start;
      font-size: 4vw;
      padding: 10px 15px;
    }
  }
  .container-inner {
    gap: 30px;
  }
}
