<section class="start-page">
  <div class="container">
    <div class="container-inner">
      <div class="start-page__text-container">
        <h1 class="start-page__title">Get the inspiration
          of interior design
          here</h1>
        <p class="start-page__text">architecture not only about engineering, it even
          lands to art and aesthetics. With us, you will get
          a residentical design with an extraordinary touch
          of art.</p>
        <button class="start-page__button">
          <a href="" class="start-page__link">Let’s go</a>
        </button>
      </div>
      <div class="start-page__img-container">
        <div class="start-page__photo">
          <img src="../../assets/img/image 1.png" alt="" class="start-page__photo-img">
        </div>
      </div>
    </div>
  </div>
</section>
