<div class="testimonial">
  <div class="container">
    <h2 class="testimonial__title">Testimonial</h2>
    <div class="testimonial__brands">
      <div class="testimonial__brand"><img src="assets/img/klamby.png" alt=""></div>
      <div class="testimonial__brand"><img src="assets/img/mayoutfit.png" alt=""></div>
      <div class="testimonial__brand"><img src="assets/img/zalora.png" alt=""></div>
      <div class="testimonial__brand"><img src="assets/img/geulis.png" alt=""></div>
    </div>
    <div class="testimonial__card">
      <div class="testimonial__card-img"><img src="assets/img/testimonial-card-img.jpg" alt=""></div>
      <div class="testimonial__card-info">
        <div class="testimonial__card-wrapper">
          <div class="testimonial__card-wrapper-stat">105
            <p class="testimonial__card-wrapper-stat_small">project <br>
              done</p></div>
          <div class="testimonial__card-wrapper-stat">12<p class="testimonial__card-wrapper-stat_small">years of
            experience</p></div>
          <div class="testimonial__card-wrapper-stat">10+ <br>
            <p class="testimonial__card-wrapper-stat_small">big company
              partnership</p></div>
        </div>
        <p class="testimonial__card-info-text">
          "Not able to tell you how happy I am with interior design.
          Interior design has completely surpassed our expectations.
          Interior design saved my business. Interior design is worth
          much more than I paid."
          <br>
          <span class="testimonial__card-info-text_green">- Roscoe</span>
        </p>
      </div>
    </div>
  </div>
</div>
