.project {
  &__title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 105px;

    text-align: center;

    color: #1C2323;
    padding-bottom: 20px;
  }

  &__text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;

    text-align: center;

    color: #404242;
    padding-bottom: 50px;
  }

  &__hr {
    margin: 0 auto;
    max-width: 135px;
    margin-bottom: 95px;
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    margin-bottom: 250px;
  }

  &__card-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;

    color: #58A9A5;
  }

  &__card-text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    color: #486958;
    padding-bottom: 35px;
  }

  order: 4;

  &__card-img-first {
    margin-bottom: 30px;
  }
}
