<section class="project">
  <div class="container">

    <h2 class="project__title">Our project </h2>
    <p class="project__text">Introducing our first official project</p>
    <div class="project__hr">
      <img src="../../assets/img/Group 3.png" alt="">
    </div>
    <div class="project__cards">
      <div class="project__card_1">
        <h3 class="project__card-title">Project Livingroom</h3>
        <p class="project__card-text">A simple guide to create the perfect livingroom for . Night Watch works
          beautifully in a wi-
          de gamut of arrangements.</p>
        <div class="project__card-img">
        <img src="../../assets/img/livingroom.jpg" alt="" class="project__card-img">
        </div>
      </div>
      <div class="project__card_2">
        <div class="project__card-img-first">
          <img src="../../assets/img/workspace.jpg" alt="" class="project__card-img-first">
        </div>
        <h3 class="project__card-title">Project workspace</h3>
        <p class="project__card-text">A simple guide to create the perfect livingroom for . Night Watch works
          beautifully in a wi-
          de gamut of arrangements.</p>
      </div>
      <div class="project__card_3">
        <h3 class="project__card-title">Library</h3>
        <p class="project__card-text">A simple guide to create the perfect livingroom for . Night Watch works
          beautifully in a wi-
          de gamut of arrangements</p>
        <div class="project__card-img">
        <img src="../../assets/img/library.jpg" alt="">
      </div>
      </div>

    </div>
  </div>
</section>
