<section class="works">
  <div class="container">
    <div class="container-inner">
      <h2 class="works__title">How it works</h2>
      <p class="works__text">Spice up your space even simpler
        than you think</p>
      <div class="works__video">
        <div class="works__video-img">
        <img src="../../assets/img/Rectangle 10.jpg" alt="" class="img">
      </div>
        <div class="works__video-offer">
          <div class="works__video-offer_container">
          <h3 class="works__video-offer-text">We provide design and build
            for commercial building,
            interior and furniture to improve
            the better life. </h3>
          <div class="works__video-offer-link">see video</div>
        </div>
          <div class="works__video-button">
            <img src="../../assets/img/Group 2.png" alt="">
          </div>
        </div>
      </div>
      <div class="works__visual">
        <div class="works__visual-img"> <img src="../../assets/img/Rectangle 14.jpg" alt="">
        </div>
        <div class="works__visual-offer">
          <h3 class="works__visual-offer-title">Our mission is to
            deliver aesthetic visual
            for your home</h3>
          <p class="works__visual-offer-text">By applying bacis psychology principles,
            we are going to explain how perception
            works and how we can use this understanding
            to maximise the space that we occupy in
            our homes.</p>
        </div>
      </div>
    </div>
  </div>
</section>
